{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true,
        "mongo":   true
    },   
    "extends": [
        "airbnb"
    ],    
    "rules": {
        "react/destructuring-assignment": "off",
        "react/prop-types": "off",
        "linebreak-style": "off",
        "no-underscore-dangle": "off"
    }
}